@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s3k2b6');
  src:  url('fonts/icomoon.eot?s3k2b6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s3k2b6') format('truetype'),
    url('fonts/icomoon.woff?s3k2b6') format('woff'),
    url('fonts/icomoon.svg?s3k2b6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
