* {
    margin: 0px;
    padding: 0px;
}

.box {
    height: 80px;
    width: 180px;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(28, 28, 255), rgb(69, 69, 255));
}

.border {
    border: 1px red solid
}

.box-2 {
    height: 80px;
    width: 180px;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(45, 255, 70), rgb(144, 255, 192));
}