@font-face {
    font-family: 'MyFont';
    src: url('./Playwrite_CZ/myfont.ttf') format('truetype');
}

body {
    /* font-family: "Playwrite US Trad Guides", cursive;
    font-weight: 500;
    font-style: normal; */
    font-family: "MyFont", cursive;
}

.para {
    color: blue;
}

.home {
    font-size: 50px;
    color: black;
}

.ri-restaurant-2-fill{
    font-size: 54px;
    color: cadetblue;
}