.outer-box {
    height: 350px;
    width: 320px;
    background-color: rgb(210, 210, 210);
}

.inner-box {
    width: 260px;
    height: 280px;
    background-color: white;
    margin-left: 20px;
    padding: 10px;
}

.profile-row {
    height: 100px;
    width: 260px;
    align-content: center;
    text-align: center;
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 260px;
    background-color: rgb(111, 111, 255);
    border-radius: 10px;
}