 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background: #f4f4f4;
     font-family: Arial, sans-serif;
 }

 .card {
     background-color: antiquewhite;
     width: 350px;
     height: 250px;
     perspective: 800px;
     /* Creates 3D effect */
 }

 .card-inner {
     position: relative;
     width: 100%;
     height: 100%;
     text-align: center;
     transition: transform 0.6s;
     transform-style: preserve-3d;
 }

 .card:hover .card-inner {
     transform: rotateY(180deg);
 }

 .card-front,
 .card-back {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     /* Hide the back side when facing front */
 }

 .card-front {
     background-size: cover;
     background-image: url("https://media.istockphoto.com/id/814423752/photo/eye-of-model-with-colorful-art-make-up-close-up.jpg?s=612x612&w=0&k=20&c=l15OdMWjgCKycMMShP8UK94ELVlEGvt7GmB_esHWPYE=");
     /* object-fit: contain; */
 }

 .card-back {
     background-size: cover;
     background-image: url("https://images.pexels.com/photos/1209843/pexels-photo-1209843.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
     /* object-fit: contain; */
     transform: rotateY(180deg);
 }