 /* <div class="parent">
        <div class="child"></div>
    </div> 
*/

 * {}

 html {
     /* width: 1920px; */
 }

 .body {
     height: 100vh;
     width: 100%;
 }

 /*
 p -> 100px
 c -> 75% --> 100  = 75px
 c -> 75% -->  56.25px
*/

 html {
     font-size: 20px;
 }

 .parent {
     width: 200px;
 }

 .child {
     width: 75%;
     /*width: 150px */
 }

 .inner-child {
     width: 75%;
     /*width: 112.5px */
 }

 .inner-inner-child {
     font-size: 10px;
     width: 100%;
 }

 .inner-inner-inner-child {
     font-size: 1.5rem;
 }
 