.para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    line-height: 1.5;
    letter-spacing: 2px;
    word-spacing: 10px;
    color: darkgoldenrod;
}

.button {
    height: 40px;
    width: 100px;
    background-color: rgb(92, 92, 218);
    border-radius: 8px;
    text-align: center;
    /*horizonatal*/
    align-content: center;
    /*vericle*/
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.8;
}