* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
}

.task {
    height: 400px;
    width: 100%;
    background-color: rgb(222, 255, 222);
    margin-bottom: 20px;
}


.heading {
    font-size: 34px;
    padding: 10px;
    font-weight: 600;
}

.heading p {
    margin-top: 20px;
    font-size: 24px;
    font-weight: normal;
}

.output {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.row-reverse {
    flex-direction: row-reverse;
}

.box {
    margin: 8px;
    height: 100px;
    width: 100px;
    border-radius: 8px;
    background-color: brown;
    color: beige;
    font-size: 40px;
    text-align: center;
    align-content: center;
}

/*

row --> main axis - x
row --> cross axis - y

col --> main axis - y
col --> cross axis - x


main axis - default axis
cross axis - invert/reverse of defaul axis

x-axis - horizontal
y-axis - verticle

*/